[submodule "child1"]
	path = child1
	url = https://github.com/shahid2179/navigine.git
[submodule "child2"]
	path = child2
	url = https://github.com/shahid2179/obs.git
[submodule "child3"]
	path = child3
	url = https://github.com/shahid2179/test.git
